.App {
  text-align: center;
}
#content {
  display: flex;
  flex-flow: row nowrap;
  /*
    Content takes the viewport height
    minus the header height.
  */
  height: 100vh;
  box-sizing: border-box;
  margin-top: -100px;
  padding-top: 100px;
}

@media screen and (max-device-width: 500px) {
  #content {
    flex-flow: column nowrap;
  }
}