body {
  background-color: #0B0C10;
}
.App {
  text-align: center;
}
#content {
  display: flex;
  flex-flow: row nowrap;
  /*
    Content takes the viewport height
    minus the header height.
  */
  height: 100vh;
  box-sizing: border-box;
  margin-top: -100px;
  padding-top: 100px;
}
.google-maps-error {
  height: 100vh;
  text-align: center;
}
.google-maps-error h1 {
  color: #66FCF1;
}
.google-maps-error p {
  color: #45A29E;
  margin: 10px;
}

@media screen and (max-device-width: 500px) {
  #content {
    flex-flow: column nowrap;
  }
}