.info-header {
  display: flex;
  flex: row nowrap;
  padding-top: 10px;
}
.info-header img {
  flex: 0 1 auto;
}
.info-header h2 {
  width: 150px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.info-header a {
  color: #45A29E;
  text-decoration: none;
}