.map-container {
  width: 100%;
  flex-grow: 1;
}
.map {
  height: 100%;
}

@media screen and (max-device-width: 500px) {
  .map-container {
    order: 1;
    flex-grow: 0;
  }
  .map {
    padding-top: 100%; /* 1:1 Aspect Ratio */
    height: auto;
  }
}